################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Smart_Deur_App/.vs/Smart_Deur_App/v16/Server/sqlite3
